@{
    ViewData["Title"] = "Home Page";
}

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Bikes in your area</h1>
            <p class="lead text-muted">See what bikes are available in your area</p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="https://bypakka.no/wp-content/uploads/2022/09/Farte_Bysykkel_illustrasjon.jpg" alt="Bike image">
                        <div class="card-body">
                            <h2 class="display-5">@ViewData["Bike1Name"]</h2>
                            <p class="card-text">Status: @ViewData["Bike1Status"]</p>
                            <p class="card-text">Last position: @ViewData["Bike1Position"]</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">@ViewData["Bike1Use"]</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="https://bypakka.no/wp-content/uploads/2022/09/Farte_Bysykkel_illustrasjon.jpg" alt="Bike image">
                        <div class="card-body">
                            <h2 class="display-5">@ViewData["Bike2Name"]</h2>
                            <p class="card-text">Status: @ViewData["Bike2Status"]</p>
                            <p class="card-text">Last position: @ViewData["Bike2Position"]</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">@ViewData["Bike2Use"]</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="https://bypakka.no/wp-content/uploads/2022/09/Farte_Bysykkel_illustrasjon.jpg" alt="Bike image">
                        <div class="card-body">
                            <h2 class="display-5">@ViewData["Bike3Name"]</h2>
                            <p class="card-text">Status: @ViewData["Bike3Status"]</p>
                            <p class="card-text">Last position: @ViewData["Bike3Position"]</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">@ViewData["Bike3Use"]</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="https://bypakka.no/wp-content/uploads/2022/09/Farte_Bysykkel_illustrasjon.jpg" alt="Bike image">
                        <div class="card-body">
                            <h2 class="display-5">@ViewData["Bike4Name"]</h2>
                            <p class="card-text">Status: @ViewData["Bike4Status"]</p>
                            <p class="card-text">Last position: @ViewData["Bike4Position"]</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">@ViewData["Bike4Use"]</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="https://bypakka.no/wp-content/uploads/2022/09/Farte_Bysykkel_illustrasjon.jpg" alt="Bike image">
                        <div class="card-body">
                            <h2 class="display-5">@ViewData["Bike5Name"]</h2>
                            <p class="card-text">Status: @ViewData["Bike5Status"]</p>
                            <p class="card-text">Last position: @ViewData["Bike5Position"]</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">@ViewData["Bike5Use"]</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="https://bypakka.no/wp-content/uploads/2022/09/Farte_Bysykkel_illustrasjon.jpg" alt="Bike image">
                        <div class="card-body">
                            <h2 class="display-5">@ViewData["Bike6Name"]</h2>
                            <p class="card-text">Status: @ViewData["Bike6Status"]</p>
                            <p class="card-text">Last position: @ViewData["Bike6Position"]</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">@ViewData["Bike6Use"]</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="https://bypakka.no/wp-content/uploads/2022/09/Farte_Bysykkel_illustrasjon.jpg" alt="Bike image">
                        <div class="card-body">
                            <h2 class="display-5">@ViewData["Bike7Name"]</h2>
                            <p class="card-text">Status: @ViewData["Bike7Status"]</p>
                            <p class="card-text">Last position: @ViewData["Bike7Position"]</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">@ViewData["Bike7Use"]</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="https://bypakka.no/wp-content/uploads/2022/09/Farte_Bysykkel_illustrasjon.jpg" alt="Bike image">
                        <div class="card-body">
                            <h2 class="display-5">@ViewData["Bike8Name"]</h2>
                            <p class="card-text">Status: @ViewData["Bike8Status"]</p>
                            <p class="card-text">Last position: @ViewData["Bike8Position"]</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">@ViewData["Bike8Use"]</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="https://bypakka.no/wp-content/uploads/2022/09/Farte_Bysykkel_illustrasjon.jpg" alt="Bike image">
                        <div class="card-body">
                            <h2 class="display-5">@ViewData["Bike9Name"]</h2>
                            <p class="card-text">Status: @ViewData["Bike9Status"]</p>
                            <p class="card-text">Last position: @ViewData["Bike9Position"]</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">@ViewData["Bike9Use"]</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
